<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>PhoneList Form</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!--/*@thymesVar id="phonelist" type="com.steereengineering.model.PhoneList"*/-->
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form th:object="${phonelist}" th:action="@{/phonelist/}"
					method="post">

					<input type="hidden" th:field="*{id}" />
					<div class="pannel-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h1 class="panel-title" align="center">Phone List Entry</h1>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6 form-group"
										th:class="${#fields.hasErrors('firstname')}
                                      ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
										<label>First Name:</label> <input type="text"
											class="form-control" th:field="*{firstname}"
											th:errorclass="has-error" /> <span class="help-block"
											th:if="${#fields.hasErrors('firstname')}">
											<ul>
												<li th:each="err : ${#fields.errors('firstname')}"
													th:text="${err}" />
											</ul>
										</span>
									</div>
									<div class="col-md-6 form-group"
										th:class="${#fields.hasErrors('lastname')}
                                      ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
										<label>Last Name:</label> <input type="text"
											class="form-control" th:field="*{lastname}"
											th:errorclass="has-error" /> <span class="help-block"
											th:if="${#fields.hasErrors('lastname')}">
											<ul>
												<li th:each="err : ${#fields.errors('lastname')}"
													th:text="${err}" />
											</ul>
										</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 form-group"
										th:class="${#fields.hasErrors('extension')}
                                      ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
										<label>Extension:</label> <input type="text"
											class="form-control" th:field="*{extension}"
											th:errorclass="has-error" /> <span class="help-block"
											th:if="${#fields.hasErrors('extension')}">
											<ul>
												<li th:each="err : ${#fields.errors('extension')}"
													th:text="${err}" />
											</ul>
										</span>
									</div>
									<div class="col-md-6 form-group"
										th:class="${#fields.hasErrors('cellphone')}
                                      ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
										<label>Cell Phone:</label> <input type="text"
											class="form-control" th:field="*{cellphone}"
											th:errorclass="has-error" /> <span class="help-block"
											th:if="${#fields.hasErrors('cellphone')}">
											<ul>
												<li th:each="err : ${#fields.errors('cellphone')}"
													th:text="${err}" />
											</ul>
										</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 form-group"
										th:class="${#fields.hasErrors('email')}
                                      ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
										<label>Email:</label> <input type="text" class="form-control"
											th:field="*{email}" th:errorclass="has-error" /> <span
											class="help-block" th:if="${#fields.hasErrors('email')}">
											<ul>
												<li th:each="err : ${#fields.errors('email')}"
													th:text="${err}" />
											</ul>
										</span>
									</div>
								</div>
								<div align="right">
									<div th:if="${#fields.hasErrors('*')}" align="center"
										class="alert alert-danger">
										<p>Please Correct Errors Above</p>
									</div>
									<a align="right" href="../../" class="btn btn-primary">Cancel</a>
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>